body{
    margin: 0px;
    padding: 0px;
    background-color: #EEE;
    font-family: sans-serif;
}
.sidebar{
    height: 100vh;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.02) 0px 1px 3px 0px, rgba(27, 31, 35, 0.15) 0px 0px 0px 1px;
}
.sidebar .sidebar-top{
    height: 60px;
    border-bottom: 0.1px solid #EEE;
    box-shadow: #16C47F 0px 10px 10px -10px;
}
.sidebar .sidebar-top h4{
    padding-top: 14px;
    background: -webkit-linear-gradient(#16C47F, #FF4F0F);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
#active{
    background-color: #16C47F;
    color: #fff;
    margin-top: 15px;
}
.sidebar .sidebar-bottom nav a{
    display: block;
    text-decoration: none;
    color: #313131;
    padding: 8px 10px 8px 20px;
    font-size: 14px;
    letter-spacing: 0.7px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 5px;
    margin-top: 7px;
}
.sidebar .sidebar-bottom nav a i{
    padding-right: 8px;
}
.sidebar .sidebar-bottom nav a:hover{
    background-color: #16C47F;
    color: #fff;
}

#drop,#drop1,#drop2,#drop3,#drop4{
    float: right;
    margin-top: 5px;
}
#submenu{
    padding-left: 25px;
    display: none;
    animation: growDown 500ms ease-in-out forwards;
    transform-origin: top center;
}
@keyframes growDown {
    0% {
        transform: scaleY(0)
    }
    80% {
        transform: scaleY(1.1)
    }
    100% {
        transform: scaleY(1)
    }
}
#submenu a:hover{
    background-color: transparent;
    color: #000;
}
.top-header{
    height: 60px;
    background-color: #fff;
    box-shadow: #16C47F 0px 10px 10px -10px;
}
.top-header h4{
    padding-top: 15px;
    text-align: center;
}

/* category form start */
.form{
    height: auto;
    background-color: #fff;
    border-radius: 5px;
    border: 0.1px solid #16C47F;
    border-top: 3px solid #16C47F;
    margin-top: 5%;
}
.form input[type="text"]{
    height: 47px;
}
.form input[type="text"]::placeholder{
    font-size: 14px;
    letter-spacing: 0.7px;
}
.form input[type="file"]{
    height: 47px;
    padding-top:11px!important;
}